<template>
    <div>
        <h3 class="text-center">Actor List</h3>
        <person-view :persondetail="actordetail"></person-view>
    </div>
</template>
<script>
import Personview from '../components/PersonView.vue'
export default {
    data(){
        return {
            actordetail: 'actor'
        }
    },
    components:{
        'person-view': Personview
    }
}
</script>