<template>
    <div>
        <img src="https://images-na.ssl-images-amazon.com/images/G/02/shazam/JKRY-S2-01598-DigitalROSStatic-ARSDE-970x250-Hero-ADSP-02-POST-e3968c9e-ac56-48a1-a705-2280146f1e05.jpg" class="center">
        <Row>
            <Col span="5" offset="2" style="padding-top:5rem;" v-for="movie in movieList" :key="movie.id">
                <Card style="width: 18rem; height: 25rem; background-color:#E5E4E2;">
                    <div @click="movieDetail(movie.id)">
                        <div style="height: 12rem;">
                            <img class="card-img-top" :src="movie.poster" alt="Card image cap" style="height: 12rem;">
                        </div>
                        <div>
                            <ul class="list-unstyled">
                                <li class="">Movie Name: {{movie.name}}</li>
                                <li class="">Year Of Realease: {{movie.yor}}</li>
                                <li>Producer: {{movie.producers.name}}</li>
                                <li>movie Actors:
                                    <ul class="list-inline">
                                        <li v-for="actor in movie.actor" :key="actor.id" class="list-inline-item"><small>{{actor.name}},</small></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </Card>
                <Button type="warning" long style="width: 18rem;" @click="movieUpdate(movie.id)">EDIT</Button>
            </Col>
        </Row>
        
        <Modal
            fullscreen
            v-model="modal1">
            <movie-form :updatedata="uniqueid"></movie-form>
        </Modal>
    </div>
</template>

<script>
import axios from 'axios'
import MovieForm from '../components/MovieForm.vue'
export default {
    components: {
        'movie-form':MovieForm
    },
    data(){
        return {
            movieList:[],
            modal1:false,
            uniqueid: 0
        }
    },
    created(){
        axios.get('https://localhost:44330/movies/all')
            .then(res=>{
                        console.log(res)
                        this.movieList=res.data
                        })
            .catch(error=>console.log(error))
    },
    methods: {
        movieUpdate(id){
            this.modal1=true;
            this.uniqueid=id
        },
        movieDetail(id){
            console.log(id)
            this.$router.push({ name: 'movieDetail', params: { id: id }})
        }
    }
}
</script>

<style scoped>
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    }
</style>