<template>
    <div>
        <movie-form></movie-form>
    </div>
</template>

<script>
import MovieForm from '../components/MovieForm.vue'
export default {
    components: {
        'movie-form': MovieForm
    }
}
</script>