<template>
    <div>
        <h3 class="text-center">Producer List</h3>
        <person-view :persondetail="producerdetail"></person-view>
    </div>
</template>
<script>
import Personview from '../components/PersonView.vue'
export default {
    data(){
        return{
            producerdetail:'producer'
        }
    },
    components:{
        'person-view': Personview
    }
}
</script>