<template>
    <div class="layout">
        <p>{{ movie.id }}</p>
        <Layout>
            <Sider style="min-width: 400px;"> 
                <img class="card-img-top" :src="movie.poster" alt="Card image cap" style="height: 500px; width: 400px">
            </Sider>
            <Layout>
                <Content :style="{margin: '10px', background: '#fff', minHeight: '420px'}">
                    <Row>
                        <Col span="12" offset="6"><h1>Movie Name:  {{movie.name}}</h1></Col>
                    </Row>
                    <Row>
                        <Col span="12" offset="6"><h1>Movie Yor:  {{movie.yor}}</h1></Col>
                    </Row>
                    <Row>
                        <Col span="12" offset="6"><h1>Movie plot:</h1>{{movie.plot}}</Col>
                    </Row>
                    <Row>
                        <Col span="12" offset="6" v-for="actor in movie.actor" :key="actor.id"><h1>Movie Actors:  {{actor.name}}</h1></Col>
                    </Row>
                    <Row>
                        <Col span="12" offset="6" ><h1>Movie Producer:  {{movie.producers.name}}</h1></Col>
                    </Row>
                    <Row>
                        <Col span="12" offset="6" v-for="genre in movie.genre" :key="genre.id"><h1>Movie Genres:  {{genre.name}}</h1></Col>
                    </Row>
                </Content>
            </Layout>
        </Layout>
    </div>
</template>
<script>
import axios from 'axios'
    export default {
        data () {
            return {
                id: this.$route.params.id,
                movie:{}
            };
        },
        created() {
            axios.get('https://localhost:44330/movies/'+this.id)
            .then(res=>{
                        console.log(res)
                        this.movie=res.data
                        })
            .catch(error=>console.log(error))
        }
    }
</script>
