<template>
    <div class="container">
       
<h1 style="text-align: center; margin: 50px;">{{headertitle}}</h1>
<Form ref="formItem" :model="formItem" :rules="ruleValidate" :label-width="80">

         <Row :gutter="16" justify="center">
            <Col span="12">
                <FormItem label="Name" prop="movieName">
                    <Input v-model="formItem.movieName" placeholder="Enter Movie name..."/>
                </FormItem>
            </Col>
            <Col span="12">
                <FormItem label="YOR " prop="yor">
                    <Input type="text" v-model="formItem.yor" number/>
                </FormItem>
            </Col>
        </Row>
    
        <FormItem label="Plot" prop="plot">
            <Input v-model="formItem.plot" type="textarea" :autosize="{minRows: 2,maxRows: 5}" placeholder="Enter something..."></Input>
        </FormItem>

        <Row :gutter="16" justify="center">
            <Col span="12">
            <FormItem label="Poster">
            <Upload
            :before-upload="handleUpload"
            action="//jsonplaceholder.typicode.com/posts/">
            <Button icon="ios-cloud-upload-outline">Select the file to upload</Button>
        </Upload>
            </FormItem>
        <div v-if="file !== null">Upload file: {{ file.name }} <Button type="text" @click="upload" :loading="loadingStatus">{{ loadingStatus ? 'Uploading' : 'Click to upload' }}</Button></div>

            </Col>
            <Col span="9">
                <FormItem label="Producer" prop="producersId">
                <Select v-model="formItem.producersId" style="width:260px" >
                    <Option v-for="producer in producerList" :key="producer.id" v-bind:value="producer.id" 
                :label="producer.name">{{producer.name}}</Option>
                </Select>
                </FormItem>
            </Col>
            <Col span="3"><Button type="success" @click="producerDataUpdate()">Add Producer</Button></Col>
        </Row>
        <br>
         <Row :gutter="16" justify="center">
            
            <Col span="9">
                <FormItem label="Actor" prop="actors">
                <Select v-model="formItem.actors" multiple style="width:260px">
                    <Option v-for="actor in actorList" :value="actor.id" :key="actor.id">{{actor.name}}</Option>
                </Select>
                </FormItem>
            </Col>
            <Col span="3"><Button type="success" @click="actorDataUpdate">Add Actor</Button></Col>
            <Col span="9">
                <FormItem label="Genre" prop="genres">
                <Select v-model="formItem.genres" multiple style="width:260px">
                    <Option v-for="genre in genreList" :value="genre.id" :key="genre.id">{{genre.name}}</Option>
                </Select>
                </FormItem>
            </Col>
            <Col span="3"><Button type="success">Add Genre</Button></Col>
        </Row>
        <br><br><br><br>
        <FormItem>
            <Button type="primary" long @click="handleSubmit('formItem')">SUBMIT</Button>
            <br><br>
            <Button type="success" long @click="handleReset('formItem')">RESET</Button>
        </FormItem>
    </Form>

    <Modal
        v-model="modal1"
        :title=title
        >
        <person-details v-if="dataValue=='actor'" :data="dataValue" @update-list="updateList"></person-details>
        <person-details v-if="dataValue=='producer'" :data="dataValue" @update-list="updateList"></person-details>
    </Modal>
    </div>
</template>

<script>
import axios from 'axios'
import PersonDetails from './PersonDetails.vue'
export default {
    props: ['updatedata'],
    data(){
        const validateName = (rule, value, callback) => {
                if (value === '') {
                    callback(new Error('Please enter movie name'));
                } else {
                    if (!/^[a-zA-Z-,]+(\s{0,1}[0-9a-zA-Z-, ])*$/.test(value)) {
                        
                        callback(new Error('Please enter valid movie name'));
                    }
                    callback();
                }
            };
        const validateYor = (rule, value, callback) => {
            if(value === ''){
                callback(new Error('Yor is required'));
            }else {
                if(!/^(19|20)\d{2}$/.test(value)){
                    callback(new Error('year must be between 1900-2099'));
                }
                callback();
            }
        };
        return {
            formItem: {
                    movieName: '',
                    yor:'',
                    plot:'',
                    poster:'',
                    producersId: '',
                    actors: [],
                    genres: [],
                },
            poster:'',

            producerList:[],
            actorList:[],
            genreList:[], 

            dataValue: '',

            genreModal: false,
            modal1: false,
            title:'',
            forupdate: 0,


            file: null,
            loadingStatus: false,
            headertitle:'Add Movie To The List',

            ruleValidate: {
                    movieName: [
                        { required: true, validator: validateName , trigger: 'blur' }
                    ],
                    yor: [
                        {required: true, validator: validateYor, trigger: 'blur' }
                    ],
                    plot: [
                        { required: true, message: 'Please enter a bio', trigger: 'blur' },
                        { type: 'string', min: 10, message: 'plot no less than 10 words', trigger: 'blur' }
                    ],
                    producersId: [
                        { required: true, message: 'please select any producer', trigger: 'blur' }
                    ],
                    actors: [
                        { required: true, message: 'please select atleast one actor', trigger: 'blur' }
                    ],
                    genres: [
                        { required: true, message: 'please select atleast one genre', trigger: 'blur' }
                    ],
                    
                }

        };
    },
     created(){
         axios.all([axios.get('https://localhost:44330/producers/all'),
                    axios.get('https://localhost:44330/actors/all'),
                    axios.get('https://localhost:44330/genres/all')])
                .then(axios.spread((firstResponse, secondResponse, thirdResponse) => {  
                console.log(firstResponse.data,secondResponse.data, thirdResponse.data);
                this.producerList=firstResponse.data
                this.actorList=secondResponse.data
                this.genreList=thirdResponse.data
                
            }))
            .catch(error => console.log(error));

            this.$emit('update-movie-data',this.formItem)
     },
     methods: {
          handleSubmit (name) {
                this.$refs[name].validate((valid) => {
                    if (valid) {
                        this.$Message.success('Success!');
                        this.postForm()
                        this.handleReset(name)
                    } else {
                        this.$Message.error('Fail!');
                        alert('Please try again !!!')
                        this.handleReset(name)
                    }
                })
            },
            handleReset (name) {
                this.$refs[name].resetFields();
            },
        postForm(){
            var formData = {
                Name: this.formItem.movieName,
                YOR:this.formItem.yor,
                Plot:this.formItem.plot,
                Poster:this.poster,
                ProducerId:this.formItem.producersId,
                Actors:this.formItem.actors,
                Genres:this.formItem.genres
            };
            console.log(formData)
            console.log('update check', this.forupdate)
            if(this.forupdate>0){
                axios.put('https://localhost:44330/movies/'+this.forupdate,formData)
                .then(res=>console.log(res))
                .catch(error=>console.log(error))

                alert('Movie Updated sucessfull')

            }
            else{
                axios.post('https://localhost:44330/movies',formData)
                    .then(res=>console.log(res))
                    .catch(error=>console.log(error))

                    alert('Movie added sucessfull')
                    this.$router.push({ name: 'MovieList'})
            }
        },
        updateList(senddata){
            if(this.dataValue=='actor'){
                this.actorList.push(senddata)
            }

            else if(this.dataValue=='producer'){
                console.log('check', senddata.id)
                this.producerList.push(senddata)
            }
        },
        producerDataUpdate(){
            this.dataValue='producer'
            this.modal1=true
            this.title='Add Producer'
        },
        actorDataUpdate(){
            this.dataValue='actor'
            this.modal1=true
            this.title='Add Actor'
        },


        handleUpload (file) {
                this.file = file;
                return false;
        },
        upload () {
            this.loadingStatus = true;
            setTimeout(() => {
            this.file = null;
            this.loadingStatus = false;
            this.$Message.success('Success')
            }, 1500);
        }


    },
    components: {
        'person-details':PersonDetails
    },
    watch:{
        updatedata() {
            if(this.updatedata!=null){
                 axios.get('https://localhost:44330/movies/'+this.updatedata)
                .then(res=>{
                        console.log(res)
                        let movie=res.data
                        this.formItem.movieName=movie.name
                        this.formItem.yor=movie.yor
                        this.formItem.plot=movie.plot
                        this.formItem.producersId=movie.producers.id
                        console.log('producername',movie.producers.name)
    
                        for(let key in movie.actor){
                            const actor=movie.actor[key]
                            console.log(actor.id)
                            this.formItem.actors.push(actor.id)
                        }
                        
                        
                        for(let key in movie.genre){
                            const genre=movie.genre[key]
                            console.log(genre.id)
                            this.formItem.genres.push(genre.id)
                        }
                        this.forupdate=this.updatedata
                        })
                .catch(error=>console.log(error))
                this.headertitle="Update Movie"

            }
        }
    }

}
</script>