<template>
<div>
        <Form ref="formItem" :model="formItem" :rules="ruleValidate" :label-width="80">
            <FormItem label="Name" prop="username">
                <Input v-model="formItem.username" placeholder="Enter person name..."/>
            </FormItem>
            <FormItem label="Gender" prop="interest">
                <Select v-model="formItem.interest">
                    <Option value="Male">Male</Option>
                    <Option value="Female">female</Option>
                </Select>
            </FormItem>
            <FormItem label="DOB" prop="userdob">
                <DatePicker type="date" placeholder="Select date" v-model="formItem.userdob"></DatePicker>
            </FormItem>
            <FormItem label="Bio" prop=userbio>
                <Input v-model="formItem.userbio" type="textarea" :autosize="{minRows: 2,maxRows: 5}" placeholder="Enter something..."/>
            </FormItem>
            <FormItem>
                <Button type="primary" @click="handleSubmit('formItem')">Submit</Button>
                <Button type="success" @click="handleReset('formItem')">Reset</Button>
            </FormItem>
        </Form>
        </div>
</template>


<script>
import axios from 'axios'
export default {
    props: ['data'],
    data(){
         const validateName = (rule, value, callback) => {
                if (value === '') {
                    callback(new Error('Please enter person name'));
                } else {
                    if (!/^[a-zA-Z-,]+(\s{0,1}[a-zA-Z-, ])*$/.test(value)) {
                        
                        callback(new Error('Please enter valid person name'));
                    }
                    callback();
                }
            };
        return {
            formItem: {
                    username: '',
                    interest: 'Male',
                    userdob: '',
                    userbio: ''
                },
                ruleValidate: {
                    username: [
                        { required: true, validator: validateName , trigger: 'blur' }
                    ],
                    interest: [
                        { required: true, message: 'Please select gender', trigger: 'change' }
                    ],
                    userdob: [
                        { required: true, type: 'date', message: 'Please select the date', trigger: 'change' }
                    ],
                    userbio: [
                        { required: true, message: 'Please enter a bio', trigger: 'blur' },
                        { type: 'string', min: 20, message: 'Introduce no less than 20 words', trigger: 'blur' }
                    ]
                }
           
        };
    },
    methods: {
         handleSubmit (name) {
                this.$refs[name].validate((valid) => {
                    if (valid) {
                        this.$Message.success('Success!');
                        this.AddPerson()
                        alert('Person added sucessfully')
                        this.handleReset(name)
                    } else {
                        this.$Message.error('Fail!');
                        alert('Person added not sucessfull try again !!!')
                        this.handleReset(name)
                    }
                })
            },
            handleReset (name) {
                this.$refs[name].resetFields();
            },
        AddPerson(){
            let senddata = {
                name: this.formItem.username,
                dob: this.formItem.userdob,
                bio:this.formItem.userbio,
                gender:this.formItem.interest
            };
            console.log(senddata)
            if(this.data=='actor'){
                //this.title='Add Actor'
                axios.post('https://localhost:44330/actors',senddata)
                    .then(res=>{
                        console.log('before',res)
                        senddata['id']=res.data
                        console.log('shashi',senddata)
                        this.$emit('update-list', senddata)
                        console.log('validity check', senddata)
                        })
                    .catch(error=>console.log(error))
            }

            else if(this.data=='producer'){
               // this.title='Add Producer'
                axios.post('https://localhost:44330/producers',senddata)
                    .then(res=>{
                        console.log('before',res)
                        senddata['id']=res.data
                        console.log('shashi',senddata)
                        this.$emit('update-list', senddata)
                        console.log('validity check', senddata)
                        })
                    .catch(error=>console.log(error))
            }
           
        },
     
    }
}
</script>

