<template>
    <Table stripe :columns="columns1" :data="data1"></Table>
</template>
<script>
import axios from 'axios'
    export default {
        props: ['persondetail'],
        data () {
            return {
                columns1: [
                    {
                        title: 'Name',
                        key: 'name'
                    },
                    {
                        title: 'Gender',
                        key: 'gender'
                    },
                    {
                        title: 'DOB',
                        key: 'dob'
                    },
                    {
                        title: "Bio",
                        key: 'bio'
                    }
                ],
                data1: []
            }
        },
        created() {
            if(this.persondetail=='producer'){
            axios.get('https://localhost:44330/producers/all')
            .then(res=>{
                        console.log(res)
                        this.data1=res.data
                        })
            .catch(error=>console.log(error))
            }

            else if(this.persondetail=='actor'){
                axios.get('https://localhost:44330/actors/all')
                .then(res=>{
                            console.log(res)
                            this.data1=res.data
                            })
                .catch(error=>console.log(error))
            }
        },
        
    }
</script>
