<template>
    <div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand"><router-link to="/">Home</router-link></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link"><router-link to="/actorList">ActorList</router-link></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"><router-link to="/producerList">ProducerList</router-link></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"><router-link to="/movieCreate">MovieCreate</router-link></a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</template>